/* #D2CECD */


/* #37414A */

body {
    margin: 0;
    padding: 0px;
    overflow-x: hidden!important;
    background-color: #007ea7;
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    outline: none;
    z-index: 0;
}

*:focus,
*:hover {
    outline: none !important;
}

@font-face {
    src: url(../fonts/BebasNeue-Regular.otf);
    font-family: 'Bebas Neue';
    font-display: swap;
}

@font-face {
    src: url(../fonts/Poppins.ttf);
    font-family: 'Poppins';
    font-display: swap;
}


/*nav css*/

.navdisplay {
    top: 2%;
    display: none;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #00171f;
    border-radius: 60px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    margin: 5px auto 5px 0px;
}

.navdisplay:after,
.navdisplay:before,
.navdisplay div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 4px;
    margin: 5px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
}

.navhide {
    z-index: 1;
    background-color: #00171f;
    border-radius: 60px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navhide:after,
.navhide:before,
.navhide div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 4px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.navhide:before {
    transform: translateY(9px) rotate(135deg);
}

.navhide:after {
    transform: translateY(-10px) rotate(-135deg);
}

.navhide div {
    transform: scale(0);
}

.setwidth {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

header div.container-fluid {
    display: flex;
    flex-wrap: wrap;
}

.loading-body header {
    z-index: 0;
}

header {
    position: sticky;
    top: 0px;
    background-color: #00171f;
    z-index: 2;
    color: #00171f;
    padding: 0px 15px;
}

header.headerscroll {
    background-color: #00171f;
    color: white;
}

nav ul li a {
    margin: 1vw;
}

button.butt {
    color: #fff;
    margin: 2vh 0vh;
}

header.headerscroll button.butt {
    color: white;
    margin: 2vh 0vh;
}

header.headerscroll .nav-a:after {
    background-color: white;
}

header.headerscroll .fa-instagram:before,
header.headerscroll .fa-whatsapp:before,
header.headerscroll .fa-linkedin:before,
header.headerscroll .fa-twitter:before,
header.headerscroll .fa-facebook:before {
    color: white;
}

nav ul li a button,
.dropdown button {
    border: none;
    padding: 2%;
    background-color: transparent;
    font-weight: 500;
    margin: 2vh 2vh;
    margin-bottom: 0px;
    font-size: large;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}


/* nav ul li a button:hover:before,
nav ul li a button:hover:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #00171f;
    margin-top: 1vh;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
} */

nav ul li a button:hover:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fff;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

nav ul li a button:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #fff;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.headerscroll nav ul li a button:hover:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.headerscroll nav ul li a button:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

nav ul li a button:hover:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

nav ul li a button:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #fff;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.headerscroll nav ul li a button:hover:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

ul.dropdown-menu {
    background-color: #00171f;
}

.headerscroll nav ul li a button:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

header .btn {
    margin: auto 0vh;
}

.fa::before {
    font-weight: 600;
    font-size: large!important;
    margin: auto;
}

.navbar-brand,
.navbar-brand img {
    height: 5vw;
    width: 5vw;
    margin-right: auto;
}

.social-media {
    display: flex;
    /* margin-right: auto; */
}

header .btn-instagram {
    background-color: transparent;
    border: none;
}

header .btn-instagram:hover,
header .btn-instagram:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

header .btn-facebook {
    background-color: transparent;
    border: none;
}

header .btn-twitter {
    background-color: transparent;
    border: none;
}

header .btn-linkedin {
    background-color: transparent;
    border: none;
}

header .btn-facebook:hover,
header .btn-facebook:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

header .btn-linkedin:hover,
header .btn-linkedin:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

header .btn-twitter:hover,
header .btn-twitter:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

header .btn-whatsapp {
    background-color: transparent;
    border: none;
}

header .btn-whatsapp:hover,
header .btn-whatsapp:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

.nav-a:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fff;
    margin-top: 1vh;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

.navbar.navbar-expand-md.setwidth {
    margin-bottom: 0px;
    padding: 8px 0px;
    /* margin-right: auto; */
}

.fa-instagram:before,
.fa-whatsapp:before,
.fa-linkedin:before,
.fa-twitter:before,
.fa-facebook:before {
    color: white;
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
}

header .btn .fa {
    width: fit-content!important;
}

.dropdown-menu li a {
    font-size: large;
    color: white;
    width: fit-content;
}

.social-media {
    display: none;
}

.social-media.d-none {
    display: flex !important;
}

.header-heading {
    font-size: xx-large;
    font-family: 'Bebas Neue';
    margin: auto;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

.one {
    display: none;
}

.header-heading div {
    transform: translateY(-100px);
    visibility: hidden;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    margin: auto 0px;
}

.header-heading.animate-heading div {
    transform: translateY(0px);
    visibility: visible;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.header-heading.animate-heading div:nth-child(2) {
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
}

.header-heading.animate-heading div:nth-child(3) {
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
}

header .btn:hover {
    color: white;
}

@media screen and (max-width:800px) {
    .header-heading {
        font-size: x-large;
    }
    .one {
        display: flex;
    }
    .two {
        display: none;
    }
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        line-height: 0px;
        height: fit-content;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        margin: 1.5%;
        margin-right: auto;
        display: block;
    }
    .navbar-brand img {
        height: 12vh;
        width: 12vh;
    }
    .navdisplay {
        display: block;
        /* margin: auto 0px; */
    }
    .setwidth {
        width: 100%;
    }
    section {
        /* display: none; */
        height: 25vh;
    }
    section div a img {
        height: 15vh;
    }
    .navbar.navbar-expand-md.setwidth {
        padding: 0px;
        width: 100vw;
        margin: 0px -30px;
    }
    nav ul li:nth-child(6) {
        display: block;
        margin: 3%;
    }
    nav ul li {
        text-align: center;
    }
    nav ul li a button:hover {
        transform: none;
    }
    .social-media {
        margin-right: 0;
        width: 100%;
        display: flex;
    }
    .social-media.d-none {
        display: none !important;
    }
    header .btn {
        padding: 0;
        margin: auto;
    }
    .social-media .fa:before {
        font-size: x-large!important;
    }
}


/* end nav */


/* home */

.pin-spacer {
    z-index: 0!important;
}

.loading-body .logo-tagline {
    z-index: 3;
}

.logo-tagline {
    top: 0px;
    padding: 0;
    z-index: -1;
    margin-left: auto;
    overflow-y: hidden;
}

.loading-body .logo-tagline * {
    z-index: 3!important;
}

.logo-tagline svg g {
    fill: #00171f;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.logo-tagline h1 {
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: 700;
    z-index: 1;
}

.logo-tagline h3 {
    font-size: x-large;
    font-family: 'Poppins';
}

.logo-tagline h3 {
    transition-delay: 1s!important;
    -webkit-transition-delay: 1s!important;
    -moz-transition-delay: 1s!important;
}

.logo-tagline h1 {
    transition-delay: 0.5s!important;
    -webkit-transition-delay: 0.5s!important;
    -moz-transition-delay: 0.5s!important;
}

.logo-tagline h1,
.logo-tagline svg,
.logo-tagline h3 {
    overflow-y: hidden;
    transform: translateY(0px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.logo-tagline.loading h1,
.logo-tagline.loading h3,
.logo-tagline.loading svg {
    overflow-y: hidden;
    transform: translateY(500px);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.logo-tagline.loading h1,
.logo-tagline.loading h3 {
    color: #000;
}

.logo-tagline.loading svg g {
    fill: #fff;
}

.logo-tagline.loading svg g path {
    stroke-width: 10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.logo-tagline img {
    width: 32.5%;
}

.logo-tagline h1,
.logo-tagline h2,
.what-we-do h1 {
    font-family: 'Bebas Neue';
}

.logo-tagline h1,
.logo-tagline h2,
.logo-tagline h3 {
    color: white;
}

.services {
    padding: 15px;
    background-color: #5a7083;
}

.services h2 {
    color: white;
}

.services .col-12 {
    padding: 15px;
    /* background-color: white; */
    /* border: 0.1px solid grey; */
    /* border-radius: 5px;
    box-shadow: 4px 7px #00171f; */
}

.services .logo-tagline {
    padding: 30px;
}

.services ul {
    list-style-type: disc;
}

.services ul li {
    font-size: xxx-large;
    width: 100%;
    margin: auto;
    color: white;
}

@media screen and (max-width:800px) {
    .logo-tagline h1 {
        margin-top: 15px;
        font-size: xxx-large;
    }
    .logo-tagline h2 {
        margin-top: 15px;
        font-size: xx-large;
    }
    .logo-tagline {
        text-align: center;
    }
    /* .logo-tagline {
        height: 160vh;
        padding: 0px;
    } */
    .logo-tagline img {
        width: 65%;
    }
    .logo-tagline,
    .services {
        padding: 0px;
    }
}

@media screen and (max-width:766px) {
    .services .logo-tagline {
        padding: 0px;
    }
}


/* about */

.what-we-do {
    height: fit-content;
}

.what-we-do h5 {
    color: #007ea7;
    text-align: center;
}

.what-we-do h1 {
    text-shadow: 2px 3.5px #00171f;
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: 700;
    color: white;
    text-align: center;
    position: relative;
}


/* .what-we-do h1:before {
    content: 'What do We Do?';
    text-shadow: none;
    font-weight: 600;
    font-size: 100px;
    position: absolute;
    z-index: 1;
    color: rgba(0, 23, 31, 0.1);
    font-family: 'Dancing Script';
    top: -90px;
    right: 0;
} */

.what-we-do .card {
    background-color: white;
    height: 150px;
    border-radius: 3px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.what-we-do .card:hover {
    box-shadow: 3px 5px 5px #00171f;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.what-we-do .card h3 {
    font-weight: 600;
}

.what-we-do .fas {
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.what-we-do .col-sm-3,
.what-we-do .col-lg-3 {
    padding: 5px;
}

.what-we-do .fas:before,
.what-we-do .fa:before {
    color: #00171f;
    font-size: 70px!important;
    margin: auto;
}

.what-we-do .fa:before {
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.what-we-do button {
    background-color: transparent;
    /* background-color: #045874; */
    border-radius: 3px;
    /* border-bottom-right-radius: 20px; */
    color: #045874;
    font-weight: 600;
    font-size: large;
    padding: 5px 10px;
    bottom: 10px;
    border: 2px solid #045874;
    box-shadow: 0px 1px 10px grey;
    position: absolute;
}

@media screen and (max-width:1025px) {
    .what-we-do .col-lg-3 h3 {
        font-size: 1.35rem;
    }
}

@media screen and (max-width:800px) {
    .what-we-do .col-lg-3 h3 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:766px) {
    .what-we-do {
        padding: 0!important;
    }
    .what-we-do h5 {
        color: #007ea7;
        text-align: center;
    }
    .what-we-do h1 {
        font-size: xxx-large;
        margin-bottom: 0px;
        font-weight: 700;
        color: #fff;
        text-align: center;
    }
    .what-we-do .card {
        background-color: white;
        height: 150px;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
    }
    .what-we-do .card:hover {
        box-shadow: 3px 5px 5px #00171f;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
    }
    .what-we-do .card h3 {
        font-weight: 600;
    }
    .what-we-do .fas {
        right: 10px;
        bottom: 10px;
        position: absolute;
    }
    .what-we-do .col-sm-3 {
        padding: 5px;
    }
}


/* footer */

footer {
    background-color: #00171f;
    height: fit-content;
}

footer * {
    color: #fff;
}

footer ul {
    padding-left: 0px!important;
}

footer h4 {
    font-weight: 900;
}

footer li {
    margin-bottom: 5px;
    font-size: medium;
}

footer .col-lg-3.col-md-6:nth-child(1),
footer .col-lg-3.col-md-6:nth-child(2),
footer .col-lg-3.col-md-6:nth-child(3) {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

footer .btn {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 200px;
    margin-right: 10px;
}

footer a,
footer a:hover {
    text-decoration: none;
    color: white;
}

footer .btn .fa {
    display: flex;
    padding: 0px 3px;
}

footer .pt-md-4.pb-md-4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer img {
    width: 50%;
}

footer .name {
    font-family: 'Bebas Neue';
}

footer .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:800px) {
    footer .col-lg-3.col-md-6 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    footer .col-lg-3.col-md-6:nth-child(even) {
        border-right: none;
    }
    footer .row {
        border-bottom: none;
    }
}

@media screen and (max-width:766px) {
    footer .col-lg-3.col-md-6:nth-child(1),
    footer .col-lg-3.col-md-6:nth-child(2),
    footer .col-lg-3.col-md-6:nth-child(3) {
        border-right: none;
    }
    footer .pt-md-4.pb-md-4 {
        border-bottom: none
    }
}


/* modal */

.modal {
    backdrop-filter: blur(8px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.modal-content {
    background-color: #00171f;
}

.modal h3 {
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin: auto;
}

.modal.fade.show {
    display: flex!important;
}

.modal-dialog {
    margin: auto;
}

.modal .close {
    right: 15px;
    position: absolute;
    color: #fff;
}


/* loading div */

.loading-div {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 3;
}

.loading-div.loaded * {
    display: none;
}

.loading-div.loaded {
    width: 0px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.loading-body {
    overflow-y: hidden;
}