/* #D2CECD */

body {
    margin: 0;
    padding: 0px;
    overflow-x: hidden!important;
    background-color: #37414A;
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    outline: none;
    z-index: 1;
}

*:focus,
*:hover {
    outline: none !important;
}

@font-face {
    src: url(../fonts/BebasNeue-Regular.otf);
    font-family: 'Bebas Neue';
}

@font-face {
    src: url(../fonts/Poppins.ttf);
    font-family: 'Poppins';
}


/*nav css*/

.navdisplay {
    top: 2%;
    display: none;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #000;
    border-radius: 60px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    margin: 5px auto 5px 0px;
}

.navdisplay:after,
.navdisplay:before,
.navdisplay div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 4px;
    margin: 5px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
}

.navhide {
    z-index: 1;
    background-color: #000;
    border-radius: 60px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navhide:after,
.navhide:before,
.navhide div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 4px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.navhide:before {
    transform: translateY(9px) rotate(135deg);
}

.navhide:after {
    transform: translateY(-10px) rotate(-135deg);
}

.navhide div {
    transform: scale(0);
}

.setwidth {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

header div.container-fluid {
    display: flex;
    flex-wrap: wrap;
}

header {
    position: sticky;
    top: 0px;
    background-color: black;
    z-index: 5;
    color: #000;
    padding: 0px 15px;
}

header.headerscroll {
    background-color: #000;
    color: white;
}

nav ul li a {
    margin: 1vw;
}

button.butt {
    color: #fff;
    margin: 2vh 0vh;
}

header.headerscroll button.butt {
    color: white;
    margin: 2vh 0vh;
}

header.headerscroll .nav-a:after {
    background-color: white;
}

header.headerscroll .fa-instagram:before,
header.headerscroll .fa-whatsapp:before,
header.headerscroll .fa-linkedin:before,
header.headerscroll .fa-twitter:before,
header.headerscroll .fa-facebook:before {
    color: white;
}

nav ul li a button,
.dropdown button {
    border: none;
    padding: 2%;
    background-color: transparent;
    font-weight: 500;
    margin: 2vh 2vh;
    margin-bottom: 0px;
    font-size: large;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}


/* nav ul li a button:hover:before,
nav ul li a button:hover:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;
    margin-top: 1vh;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
} */

nav ul li a button:hover:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fff;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

nav ul li a button:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #fff;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.headerscroll nav ul li a button:hover:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.headerscroll nav ul li a button:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    margin-top: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

nav ul li a button:hover:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

nav ul li a button:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #fff;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.headerscroll nav ul li a button:hover:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

ul.dropdown-menu {
    background-color: #000;
}

.headerscroll nav ul li a button:before {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    margin-bottom: 1vh;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.btn {
    margin: auto 0vh;
}

.fa::before {
    font-weight: 600;
    font-size: large!important;
}

.navbar-brand,
.navbar-brand img {
    height: 5vw;
    width: 5vw;
    margin-right: auto;
}

.social-media {
    display: flex;
    /* margin-right: auto; */
}

.btn-instagram {
    background-color: transparent;
    border: none;
}

.btn-instagram:hover,
.btn-instagram:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

.btn-facebook {
    background-color: transparent;
    border: none;
}

.btn-twitter {
    background-color: transparent;
    border: none;
}

.btn-linkedin {
    background-color: transparent;
    border: none;
}

.btn-facebook:hover,
.btn-facebook:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

.btn-linkedin:hover,
.btn-linkedin:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

.btn-twitter:hover,
.btn-twitter:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

.btn-whatsapp {
    background-color: transparent;
    border: none;
}

.btn-whatsapp:hover,
.btn-whatsapp:active {
    transform: translateY(-2px);
    background-color: transparent;
    border: none;
}

.nav-a:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fff;
    margin-top: 1vh;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

.navbar.navbar-expand-md.setwidth {
    margin-bottom: 0px;
    padding: 8px 0px;
    /* margin-right: auto; */
}

.fa-instagram:before,
.fa-whatsapp:before,
.fa-linkedin:before,
.fa-twitter:before,
.fa-facebook:before {
    color: white;
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
}

.btn .fa {
    width: fit-content!important;
}

.dropdown-menu li a {
    font-size: large;
    color: white;
    width: fit-content;
}

.social-media {
    display: none;
}

.social-media.d-none {
    display: flex !important;
}

.header-heading {
    font-size: xx-large;
    font-family: 'Bebas Neue';
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

.one {
    display: none;
}

.header-heading div {
    transform: translateY(-100px);
    visibility: hidden;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    margin: auto 0px;
}

.header-heading.animate-heading div {
    transform: translateY(0px);
    visibility: visible;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.header-heading.animate-heading div:nth-child(2) {
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
}

.header-heading.animate-heading div:nth-child(3) {
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
}

.btn:hover {
    color: white;
}

@media screen and (max-width:800px) {
    .header-heading {
        font-size: x-large;
    }
    .one {
        display: flex;
    }
    .two {
        display: none;
    }
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        line-height: 0px;
        height: fit-content;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        margin: 1.5%;
        margin-right: auto;
        display: block;
    }
    .navbar-brand img {
        height: 12vh;
        width: 12vh;
    }
    .navdisplay {
        display: block;
        /* margin: auto 0px; */
    }
    .setwidth {
        width: 100%;
    }
    section {
        /* display: none; */
        height: 25vh;
    }
    section div a img {
        height: 15vh;
    }
    .navbar.navbar-expand-md.setwidth {
        padding: 0px;
        width: 100vw;
        margin: 0px -30px;
    }
    nav ul li:nth-child(6) {
        display: block;
        margin: 3%;
    }
    nav ul li {
        text-align: center;
    }
    nav ul li a button:hover {
        transform: none;
    }
    .social-media {
        margin-right: 0;
        display: flex;
    }
    .social-media.d-none {
        display: none !important;
    }
    .btn {
        padding: 0;
        margin: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
    .fa,
    .btn {
        width: 15.75px!important;
    }
    /* different color */
    /* header {
        color: white !important;
        background-color: black !important;
    }
    nav ul li a .butt {
        color: white;
    }
    .nav-a:after {
        background-color: white;
    }
    .fa-instagram:before,
    .fa-whatsapp:before,
    .fa-facebook:before {
        color: white;
    } */
}


/* end nav */


/* home */

.home {
    /* height: 100vh; */
    top: 0px;
    padding: 0;
    z-index: 0;
}

.home .container-fluid,
.home .container-fluid .row {
    height: 100%;
}


/* .home .row .col-lg-6 {
    display: flex;
    height: 100%;
} */

.home .row .col-lg-6 .logo-tagline {
    margin: auto auto auto 0;
}

.logo-tagline {
    width: fit-content;
}

.logo-tagline h1 {
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: 700;
}

.logo-tagline h2 {
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 700;
}

.logo-tagline h3 {
    font-size: x-large;
    font-style: oblique;
    font-family: 'Poppins';
}

.logo-tagline img {
    width: 32.5%;
}

.home h1,
.home h2,
.what-we-do h1 {
    font-family: 'Bebas Neue';
}

.home h1,
.home h2,
.home h3 {
    color: white;
}

.services {
    padding: 15px;
    background-color: #5a7083;
}

.services h2 {
    color: white;
}

.services .col-12 {
    padding: 15px;
    /* background-color: white; */
    /* border: 0.1px solid grey; */
    /* border-radius: 5px;
    box-shadow: 4px 7px black; */
}

.services .logo-tagline {
    padding: 30px;
}

.services ul {
    list-style-type: disc;
}

.services ul li {
    font-size: xxx-large;
    width: 100%;
    margin: auto;
    color: white;
}

@media screen and (max-width:800px) {
    .logo-tagline h1 {
        margin-top: 15px;
        font-size: xxx-large;
    }
    .logo-tagline h2 {
        margin-top: 15px;
        font-size: xx-large;
    }
    .logo-tagline {
        text-align: center;
    }
    /* .home {
        height: 160vh;
        padding: 0px;
    } */
    .logo-tagline img {
        width: 65%;
    }
    .home .container-fluid,
    .services {
        padding: 0px;
    }
    .home .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    /* .home .row .col-lg-6:nth-child(1) {
        height: 55%;
    }
    .home .row .col-lg-6:nth-child(2) {
        height: 40%;
    } */
    .home .row .col-lg-6 li {
        font-size: 34.5px;
        text-align: left;
    }
}

@media screen and (max-width:766px) {
    /* .home {
        height: 140vh;
        padding: 0px;
    } */
    .services .logo-tagline {
        padding: 0px;
    }
}


/* about */

.what-we-do {
    background-color: #D2CECD;
    height: fit-content;
}

.what-we-do h5 {
    color: #37414A;
    text-align: center;
}

.what-we-do h1 {
    font-size: 80px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #37414A;
    text-align: center;
}

.what-we-do .card {
    background-color: white;
    height: 140px;
    border-radius: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.what-we-do .card:hover {
    box-shadow: 2px 3.5px black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.what-we-do .card h3 {
    font-weight: 600;
}

.what-we-do .fas {
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.what-we-do .col-sm-3,
.what-we-do .col-xl-6 {
    padding: 5px;
}

.what-we-do .fas:before,
.what-we-do .fa:before {
    color: #000;
    font-size: 70px!important;
}

.what-we-do .fa:before {
    right: 10px;
    bottom: 10px;
    position: absolute;
}

@media screen and (max-width:766px) {
    .what-we-do h5 {
        color: #37414A;
        text-align: center;
    }
    .what-we-do h1 {
        font-size: xxx-large;
        margin-bottom: 0px;
        font-weight: 700;
        color: #37414A;
        text-align: center;
    }
    .what-we-do .card {
        background-color: white;
        height: 140px;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
    }
    .what-we-do .card:hover {
        box-shadow: 2px 3.5px black;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
    }
    .what-we-do .card h3 {
        font-weight: 600;
    }
    .what-we-do .fas {
        right: 10px;
        bottom: 10px;
        position: absolute;
    }
    .what-we-do .col-sm-3 {
        padding: 5px;
    }
}